html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

body {
    width: 100%;
    background-image: url('/static/blitz-gewitter-sturm-wetter.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#weatherForm {
    margin: 0 auto;
    width: 100%; 
}

#weatherForm input[type="text"],
#weatherForm button {
    box-sizing: border-box; 
    width: 100%; 
    padding: 12px; 
    margin: 10px 0; 
}

#weatherForm button {
    background: #0088cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="text"],
button {
    margin: 10px 0;
    display: block;
    width: 100%;
}

.btn.blue {
    padding: 12px 25px;
    background: #0088cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn.blue:hover {
    background-color: #005f75;
}